$day-size: 100px;
$gap: 1px;
$padding: 10px;
$columns: 7;
$day-color: #eee;
$hover-color: #ffbdcb;
$border-color: #000;

$days: (
  sun: 6,
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5
);

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  width: calc(
    #{$columns} * #{$day-size} + (#{$columns} - 1) * #{$gap} + #{$padding} * 2
  );

  padding: $padding;
  box-sizing: border-box;

  &__day {
    width: $day-size;
    height: $day-size;

    background-color: $day-color;
    border: 1px solid $border-color;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    font-size: 30px;

    transition:
      background-color 0.5s,
      transform 0.5s;

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
      transform: translateY(-20px);
    }
  }

  @for $i from 1 through 31 {
    &__day:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }

  @each $day, $index in $days {
    &--start-day-#{$day} {
      .calendar__day:first-child {
        margin-left: calc(#{$index} * (#{$day-size} + #{$gap}));
      }
    }
  }

  @for $i from 28 through 31 {
    &--month-length-#{$i} {
      .calendar__day:nth-child(n + #{$i + 1}) {
        display: none;
      }
    }
  }
}
